<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-3xl mx-auto px-4">
      <h1 class="mb-5 lg:text-6xl leading-relaxed font-bold">買う前に、<span class="text-transparent bg-clip-text bg-gradient-to-r from-primary via-secondary to-accent">ひと呼吸。</h1>
      <p class="mb-9 leading-relaxed">
        「つい衝動買いしてしまった」「あの時買っておけば良かった」は、もうやめた。<br>
        一度立ち止まり、考える時間をつくることで、後悔のない買い物を。
      </p>
      <%= link_to "はじめる", new_user_registration_path, class: "btn-base btn-xl text-lg btn-wide" %>
    </div>
  </div>
</div>