<div class="w-full mt-4 px-4">
  <% flash.each do |message_type, message| %>
    <div class="alert <%= flash_class(message_type) %> alert-soft border flex items-center gap-2">
      <ion-icon name="<%= flash_icon(message_type) %>" class="w-6 h-6"></ion-icon>
      <span><%= message %></span>
    </div>
  <% end %>
</div>