<div class="navbar bg-base-100 shadow-sm px-4 lg:px-9">
  <!-- サービスロゴ（トップページに遷移するリンク） -->
  <div class="navbar-start">
    <%= link_to "BuyZen", "#", class: "text-xl font-semibold"%>
  </div>

  <!-- ユーザー登録・ログイン -->
  <div class="navbar-end gap-3">
    <%= link_to "ログイン", "#", class: "btn btn-outline btn-md text-sm rounded-full" %>
    <%= link_to "新規登録", "#", class: "btn-base btn-md text-sm rounded-full" %>
  </div>
</div>