<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span class="btn btn-sm rounded-full w-8 h-8 p-0 bg-primary text-white border-none pointer-events-none flex items-center justify-center">
    <%= page %>
  </span>
<% else %>
  <%= link_to page, url, class: "btn btn-sm rounded-full w-8 h-8 p-0 bg-white flex items-center justify-center hover:bg-gray-200 transition" %>
<% end %>
