  <!-- 商品名 -->
  <div class="mb-8 mt-4">
    <%= f.label :name, "商品名", class: "block text-sm font-medium mb-2" %>
    <%= f.text_field :name, class: "input input-bordered w-full focus:outline-none" %>
  </div>

  <!-- メモ -->
  <div class="mb-8">
    <%= f.label :note, "メモ（任意）", class: "block text-sm font-medium mb-2" %>
    <%= f.text_area :note, rows: 4, class: "textarea textarea-bordered w-full focus:outline-none" %>
  </div>
