<% if item.undecided? %>
  <% if item.cooldown_active? %>
    <span class="badge badge-soft badge-info badge-outline text-xs rounded-xs font-normal">クールダウン中</span>
  <% elsif item.drafting? %>
    <span class="badge badge-soft badge-primary badge-outline text-xs rounded-full font-normal">購入判断を回答中</span>
  <% elsif item.cooldown_finished? %>
    <span class="badge badge-soft badge-primary badge-outline text-xs rounded-full font-normal">クールダウン完了</span>
  <% end %>

<% elsif item.decided_buy? %>
  <span class="badge badge-soft badge-accent badge-outline text-xs rounded-full font-normal">買う</span>

<% elsif item.decided_skip? %>
  <span class="badge badge-soft badge-info badge-outline text-xs rounded-full font-normal">買わない</span>
<% end %>